.item {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 17px 0px;
  border-bottom: 1px solid #eaeaea;
}

.checkbox {
  margin-right: 15px;
}

.item button {
  font-size: 13px;
  background: #f9eaea;
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: -10px 0 0 10px;
  color: red;
  font-size: 28px;
  transition: 0.2s ease-in-out;
}

.item button:hover {
  background: hsl(0, 56%, 85%);
  color: rgb(179, 0, 0);
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
